/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .title {
     margin-left: auto;
     margin-right: auto;
     font-size: 40px;
     color: "blue"
}

body{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

.nav-list{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}

.nav-link{
    padding: 8px 190px 8px 190px;
    text-decoration: none;
    display: block;
    font-size: 30px;
}

.nav-link:hover{
    background-color:	#A9A9A9;
}
